# Misc
.DS_Store

# Project related folders
weights
gradio_cached_examples

# Compilation and Distribution
__pycache__
_ext
*.pyc
*.pyd
*.pyo
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# Editor Settings
.idea
.vscode
_darcs